body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    background-color: midnightblue;
    color:white;
}
hr{
    width:80%;
    margin:auto;
}
.h1{
    font-family: Cursed Timer ULIL;
}
.float-container {
    height:65vh;
    border: 1px solid #fff;
    padding: 20px;
    margin:1%;
}
#FC1 {
    background-color:midnightblue;
    width: 30%;
    height:60%;
    float: left;
    padding: 20px;
    margin:7.5%;
    margin-top:5%;
    border: 2px solid white;
} 
#FC2 {
    background-color:midnightblue;
    width: 30%;
    height:60%;
    float: left;
    padding: 20px;
    margin:7.5%;
    margin-top:5%;
    border: 2px solid white;
} 
.home-inner-container{
    background-color: black;
    height:50%;
    WIDTH:50%;
    text-align: center;
    margin:auto;
    margin-top:0%;

}
H3{
    color:#fff;
    font-family: Cursed Times UL IL;
    font-size:6vh;
    padding:15%;
    text-align:center;
}
button{
    height:8%;
    width: 8%;
    border: 1px solid white;
    margin:2%;
    background-color:midnightblue;
    color:white
}


